<header class="cabecalhoPrincipal">
    <h1 class="cabecalhoPrincipal__titulo">Restaurante do Zé</h1>
</header>
<aside class="menu">
    <nav>
        <ul class="list">

            <li class="list__item">
                <i class="fas fa-home"></i>
                <a [routerLink]="['']" routerLinkActive="router-link-active" class="list__item__link">Inicio</a>
            </li>

            <li class="list__item">
                <i class="fas fa-utensils"></i>
                <a [routerLink]="['/pratos']" routerLinkActive="router-link-active" class="list__item__link">Pratos</a>
            </li>

        </ul>
    </nav>
</aside>
<main class="conteudoPrincipal">
    <router-outlet></router-outlet>
</main>